<!-- The content below is only a placeholder and can be replaced.-->

<app-check (keyup) = "myKeyUp($event)"></app-check>
<!-- <app-local-storage></app-local-storage> -->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style src="app.component.css"></style>
</head>
<body>
  <!-- 实现todolist功能 -->
  <div id="mybody">
    {{str}}
    <h2>正在进行</h2>
    <h2>已经完成</h2>
    <footer>
        Copyright © 2014 todolist.cn clear
    </footer>
  </div>
</body>

